<section>
  <h1>メモアプリ</h1>
  <form action="<%= "/memos/#{@memo_id}" %>" method="post">
    <input type="hidden" name="_method" value="patch" />
    <div>
      <label for="subject">題名を入力してください。</label>
      <input type="text" name="subject" id="subject" value="<%= @subject %>" required>
    </div>
    <div>
      <label for="content">詳細を入力してください。</label>
      <input type="text" name="content" id="content" value="<%= @content %>" required>
    </div>
    <div>
      <input type="submit" value="保存">
    </div>
  </form>
</section>