<form action="/memos" method="post">
  <div class="mb-3">
    <label for="subject" class="form-label">題名を入力してください。</label>
    <input type="text" name="subject" id="subject" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">詳細を入力してください。</label>
    <input type="text" name="content" id="content" class="form-control" required>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
