<div class="row">
  <div class="mb-3 mt-3">
    <p>題名</p>
    <p class="memo-field"><%= @subject %></p>
  </div>
  <div class="mb-3 mt-3">
    <p>詳細</p>
    <p class="memo-field"><%= @content %></p>
  </div>
</div>
<div class="flex-box col-3 mx-auto mt-5">
  <button id="button-tag" class="btn btn-secondary btn-lg" onclick='clickButton("<%= "/memos/#{@memo_id}/edit" %>")'>変更</button>
  <form action="<%= "/memos/#{@memo_id}" %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-light btn-lg" value="削除" onClick="return confirm('本当に削除しますか？')">
  </form>
</div>
